red = #0acd84
selectionColor = red

@import 'tomorrow.styl'
@import 'zoom.styl'

////

linkUnderlines(backgroundColor, color)
  color color
  text-decoration underline

////

body {
  font-family 'Lato', 'Helvetica Neue', 'Roboto', 'Fira Sans', sans-serif
  font-size 140%
  line-height 1.65
  color red
  background #11031c

  margin 0
  padding 0

  @media (max-width: 700px) {
    font-size 120%
    line-height 1.8
  }
}

.c, .container {
  max-width 900px
  width 95%

  margin-left auto
  margin-right auto
}

main {
  padding-top 56px

  pre code {
    @extend .c

    display block
    padding-top .5em
    padding-bottom .5em

    white-space pre-wrap
  }

  img {
    max-width 100%
    margin 0 auto

    display block

    cursor -webkit-zoom-in
    cursor -moz-zoom-in

    padding-top 16px
  }

  span.caption {
    padding-bottom 16px
  }
}

.center {
  text-align center
  display block
}

nav {
  // woo breadcrumbs
  padding 1em 0

  user-select none
  -webkit-user-select none

  cursor default

  position fixed
  left 0
  top 0
  right 0
  z-index 999

  width 100%
  background black

  transition 200ms

  body.scrolled & {
    box-shadow 0 -4px 12px rgba(0,0,0,0.2)
  }

  body.zoom-overlay-open &, body.zoom-overlay-transitioning & {
    top -96px
    transition top 400ms
  }

  a, a:visited {
    color rgba(white, 0.9)
    background-image none

    cursor pointer

    &:hover {
      linkUnderlines #0acd84 rgba(white, 0.9)
    }
  }

  a:first-child {
    color red

    &:hover {
      linkUnderlines #0acd84 red
    }
  }
}

h1, h2, h3 {
  font-weight 400
  line-height 0.9
  @extend .c
}

h1 {
  font-size 350%
  letter-spacing -0.5px

  margin-top .4em
  margin-bottom 8px

  color rgba(red, 0.9)
}

h2 {
  color rgba(red, 0.6)

  margin-top -7px
  margin-bottom 1.2em
}

h3 {
  font-size 150%
  margin-top 1.5em
  margin-bottom 7px
}

p, table {
  @extend .c
  margin 16px auto

  font-family 'Roboto', serif

  b {
    font-weight 600
  }
}

blockquote {
  @extend p

  p {
    padding-left 1em
    border-left .2em solid #eee

    width 100%
    font-style italic
  }
}

td{
	opacity: 1;
	border: 1px dotted #e6e6e6;
	padding: 1em; 
}
th {
	border: 1px dotted white;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 25px;
}
table {
	border: 1px solid #e6e6e6;
	opacity: 1;
	padding: 0;
}

::selection {
  color white
  background rgba(red, 0.99)
  text-shadow 0 !important
}

a {
  linkUnderlines #0acd84 red

  &.dim {
    linkUnderlines #0acd84 #6B6B6B
  }
}

.dim {
  color #6B6B6B
}

footer {
  margin 4em 0
  margin-top 2em

  padding 24px 0

  p {
    //font-family 'Harmattan', 'Helvetica Neue', 'Roboto', 'Fira Sans', sans-serif
    font-size 110%

    position relative
    padding-left 150px

    width 550px
    line-height (96px / 2)

    @media (max-width: 700px) {
      width 95%
      padding-left 0

      img {
        display none
      }
    }

    img {
      display none
    }
  }

  &.landing {
    margin 0
    margin-top 1em

    width 100%
    height 100%
    background red

    img {
      visibility hidden
    }

    p {
      color white
      width 95%
      padding-left 0

      .dim {
        color white
      }
    }

    a {
      linkUnderlines red white
    }
  }
}

h1 a, h2 a {
  text-shadow none
  background-image none
  color inherit
}

.posts {
  padding-top 1em

  .post {
    display block
    padding-top 5.25em
    padding-bottom .25em

    padding-top 3.5em
    padding-bottom 3.5em

    //margin-bottom .25em

    background-size cover
    background-repeat no-repeat
    background-position center center
    //background-attachment fixed

    h1, h2 {
      margin-top 0
      margin-bottom 0
    }

    h1 {
      color white
    }

    h2 {
      color rgba(white, 0.9)
    }
  }
}

del, strike {
  text-decoration none
  display inline-block
  position relative

  color #B1B1B1

  &::before {
    content ''
    border-bottom 2px solid #B1B1B1
    width 100%

    position absolute
    right 0
    top 50%
  }
}

hr {
  width 90%
  max-width 300px

  border 0
  border-top 1px solid red

  margin 2em auto
}

ul {
  @extend p
}
